<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RTC Suite">
  <test thread-count="5" name="RTC Test">
    <classes>
      <class name="TestCases.LoginTestCases">
        <methods>
         <include name="PrintUser"/>
		 <include name="jazzLogoTest"/>
		 <include name="loginToAppTest"/>
        </methods>
       </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
